
<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @listing.image.url %>
		</div>
		<h3><%= @listing.name %></h3>
		<h4><%= number_to_currency(@listing.price) %></h4>
	</div>
	<div class="col-md-6">
		<%= render 'form' %>
	</div>
</div>
<%= link_to 'Return To Listing', @listing, class: "btn btn-default btn-xs" %>
<br>
